<!DOCTYPE html>
<html>
  <head>
    <title>Blog Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="logo"><a href="/"> Blog Application</a></h1>