<% include _header %>
  <body>
    <div class="main-page">
        <button><a href="/register">Create new account</a></button>
        <button><a href="/login">Login</a></button>
        <button><a href="/posts">See all posts</a></button>
    </div>
 <% include _footer %>

