<% include _header %>
<%- include('flash'); %>
<form action="/login" method="POST">
    <h1>Login</h1>
    <label>
        <strong>Username:</strong>
        <input type="text" name="username">
    </label>
    <label>
        <strong>Password:</strong>
        <input type="password" name="password">
    </label>
    <button>Login</button>
</form>
<nav>
    <a href="/register">Register an account</a>
</nav>
<% include _footer %>